<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>스프링시큐리티 테스트</h1>
<h2 th:text="${message}">message</h2>
<div><a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></div>
<div><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></div>
<div><a th:href="@{/sec/member/test}">로그인이 필요한 페이지</a></div>
<div><a th:href="@{/sec/leader/test}">leader 권한이 필요한 페이지</a></div>
<div><a th:href="@{/assets/images/img.png}">정적리소스 페이지</a></div>
</body>
</html>