<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>방화벽 리스트</title>
    <link rel="stylesheet" href="/css/css_member.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<main layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>출발지</th>
                    <th>사용자</th>
                    <th>종료일</th>
                    <th>종료 여부</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="f: ${firewalls}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${f.start}"></td>
                    <td th:text="${f.member}"></td>
                    <td th:text="${f.endDate}"></td>
                    <td th:text="${f.isEnded}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>