<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원 리스트</title>
    <link rel="stylesheet" href="/css/css_member.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <main layout:fragment="content">
        <div class="container-fluid px-4">
            <h1 class="mt-4">AI Security 연구본부</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    AI Security 연구본부 계정 목록 입니다.
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    계정 목록
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>이메일</th>
                            <th>권한(ROLE)</th>
                            <th>개발망 IP</th>
                            <th>인터넷망 IP</th>
                            <th>수정</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>이메일</th>
                            <th>권한(ROLE)</th>
                            <th>개발망 IP</th>
                            <th>인터넷망 IP</th>
                            <th>수정</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="m: ${members}">
                            <td th:text="${m.id}"></td>
                            <td th:text="${m.name}"></td>
                            <td th:text="${m.email}"></td>
                            <td th:text="${m.role}"></td>
                            <td th:text="${m.devIp != null} ? ${m.devIp} : ''"></td>
                            <td th:text="${m.netIp != null} ? ${m.netIp} : ''"></td>
                            <td>
                                <a class="btn btn-primary" th:text="수정하기" th:href="@{/member/{id}(id=${m.id})}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

<script src="/js/bootstrap.bundle.min.js"> </script>
<script src="/js/member.js"> </script>
</body>
</html>